@model VendingMachineApp.Models.VendingMachineViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Buyer wallet: </span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (var coin in Model.BuyerWallet)
                {
                    <li>
                        <a>@coin.ParValue: @coin.Count</a>
                    </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><span class="navbar-brand">Vending machine wallet: </span></li>
                @foreach (var coin in Model.BuyerWallet)
                {
                    <li>
                        <a>@coin.ParValue: @coin.Count</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@*Buyer wallet: <br>
<div >
    @foreach (var coin in Model.BuyerWallet)
    {
        <div id="@string.Format("c_{0}", coin.ParValue)" class="coin btn btn-default">@coin.ParValue: @coin.Count</div><br>
    }
</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Buyer wallet</h2>
        <p>
            @foreach (var coin in Model.BuyerWallet)
            {
                <div id="@string.Format("cb_{0}", coin.ParValue)" class="coin btn btn-block btn-group-lg btn-lg btn-default">@coin.ParValue: @coin.Count</div><br>
            }
        </p>
    </div>
    <div class="col-md-4">
        <h2>Deposit</h2>
        <p>
            <div id="deposit" class="btn btn-block btn-group-lg btn-lg btn-default text-center">0</div>
            <div id="refundButton" class="btn btn-block btn-group-lg btn-lg btn-default text-center">Refund</div>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Vending machine wallet</h2>
        <p>
            @foreach (var coin in Model.MachineWallet)
            {
                <div id="@string.Format("cm_{0}", coin.ParValue)" class="coin btn btn-block btn-group-lg btn-lg btn-default">@coin.ParValue: @coin.Count</div><br>
            }
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Available goods</h2>
        <p>
            @foreach (var goods in Model.AvailableGoods)
            {
                <div id="@string.Format("g_{0}", goods.Identity)" class="coin btn btn-block btn-group-lg btn-lg btn-default">@goods.Name = @goods.Price$, @goods.Count available</div><br>
            }
        </p>
    </div>
</div>